.body {
    padding: 0;
    margin: 0;
    height: calc(100vh - 70px);
    width: 100vw;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 678px) {
    .body {
        background: white;
        height: calc(100vh - 50px);
    }

}